{port_sources, ["c_src/*.cpp"]}.
{so_name, "re2_nif.so"}.

{port_envs, [
    {"DRV_CFLAGS",  "$DRV_CFLAGS -Werror -I c_src/re2"},
    {"DRV_LDFLAGS", "$DRV_LDFLAGS c_src/re2/obj/libre2.a"},

    %% Make sure to link -lstdc++ on linux or solaris
    {"(linux|solaris)", "LDFLAGS", "$LDFLAGS -lstdc++"},

    %% OS X Leopard flags for 64-bit
    {"darwin9.*-64$", "CXXFLAGS", "-m64"},
    {"darwin9.*-64$", "LDFLAGS", "-arch x86_64"},

    %% OS X Snow Leopard flags for 32-bit
    {"darwin10.*-32$", "CXXFLAGS", "-m32"},
    {"darwin10.*-32$", "LDFLAGS", "-arch i386"}
  ]}.

{port_pre_script, {"c_src/build_deps.sh",
                   "c_src/re2/obj/libre2.a"}}.

{port_cleanup_script, "c_src/build_deps.sh clean"}.
